%h4= resource.new_record? ? 'Новая вакансия' : 'Редактирование вакансии'
= form_for resource, html: {role: :form} do |f|
  .row
    .col-md-5
      - if resource.errors.any?
        .alert.alert-danger(role=alert)
          %button.close{type: 'button', data: {dismiss: 'alert'}} ×
          %ul
            - resource.errors.full_messages.each do |msg|
              %li= msg  
        
      .form-group.form-group-sm
        = f.label :name, 'Наименование'
        = f.text_field :name, class: 'form-control input-sm', placeholder: 'Наименование вакансии'
      .form-group.form-group-sm
        = f.label :contacts, 'Контакты'
        = f.text_field :contacts, class: 'form-control input-sm', placeholder: 'В свободном формате'
      .row
        .form-group.form-group-sm.col-xs-5
          = f.label :wage, 'Зарплата (руб)'
          = f.number_field :wage, class: 'form-control input-sm', placeholder: 'Зарплата'
        - if resource.new_record?
          .form-group.form-group-sm.col-xs-5
            = f.label :validity, 'Период действия'
            = f.select :validity, options_for_select(vacancy_periods, resource.validity), {}, {class: 'form-control input-sm'}
        - else
          .form-group.form-group-sm.col-xs-5
            = f.label :active_until, 'Дата'
            .input-group.date#active_until_picker
              = f.text_field :active_until, value: resource.active_until.try(:strftime, '%d.%m.%Y'), class: 'form-control'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
      .row
        .col-xs-12
          = link_to 'Отмена', vacancies_path, class: 'button btn btn-default btn-sm', role: 'button'
          = f.submit 'Сохранить', class: 'btn btn-primary btn-sm'

    .col-md-3
      .panel.panel-default
        .panel-heading
          Навыки
        .panel-body#skills_manager
          .input-group.input-xs
            = text_field_tag :skill_name, '', class: 'form-control input-sm', autocomplete: 'off'
            %span.input-group-btn
              %button.btn.btn-success.btn-sm.btn-add-skill-vacancy
                %span.glyphicon.glyphicon-plus
          = hidden_field_tag :selected_skill
          
          %hr
          %table.table.table-condensed
            = hidden_field_tag 'vacancy[skill_ids][]', ''
            - resource.skills.each do |skill|
              %tr
                %td
                  = hidden_field_tag 'vacancy[skill_ids][]', skill.id
                  = skill.name
                %td
                  = link_to '#', class: 'btn btn-xs btn-danger btn-remove-skill' do
                    %span.glyphicon.glyphicon-remove   
            - if resource.new_skills && resource.new_skills.any?  
              - resource.new_skills.each do |skill|
                %tr
                  %td
                    = hidden_field_tag 'vacancy[new_skills][]', skill
                    = skill
                  %td
                    = link_to '#', class: 'btn btn-xs btn-danger btn-remove-skill' do
                      %span.glyphicon.glyphicon-remove    


      - unless resource.new_record?
        :javascript
          $('#active_until_picker').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY'
          });

:javascript
  $('#skill_name').typeahead({
    'ajax': '/skills/search',
    onSelect: function(item) {
      $('#skills_manager input#selected_skill').val(item.value)
    }
  });      