%h4 Вакансии

.navbar.navbar-default
  .container-fluid
    = link_to 'Добавить', new_vacancy_path, class: 'btn btn-xs btn-primary navbar-btn'

- if collection.any?
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Наименование
        %th Действует до
        %th
    %tbody.data_table
      - collection.each do |vacancy|
        %tr        
          %td= vacancy.id
          %td= link_to vacancy.name, vacancy
          %td= l vacancy.active_until
          %td
            = link_to edit_vacancy_path(vacancy), class: 'btn btn-xs btn-success' do
              %span.glyphicon.glyphicon-pencil      
            = link_to vacancy_path(vacancy), class: 'btn btn-xs btn-danger', method: :delete do
              %span.glyphicon.glyphicon-remove        