%h4= resource.name
%h6= resource.contacts
%hr
%strong Необходимые навыки:
= resource.skills.map {|skill| link_to(skill.name, skill)}.join(', ').html_safe
%br
%strong Зарплата:
= number_to_currency(resource.wage)
%br
%strong 
  Активна еще 
  = distance_of_time_in_words(Date.today, resource.active_until)
%hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Лучшие кандидаты
      .panel-body
        %ul
          - resource.best_candidates.each do |c|
            %li
              = link_to c.name, c
              = "(#{number_to_currency(c.salary)})"


  .col-md-6
    .panel.panel-default
      .panel-heading
        Другие кандидаты
      .panel-body
        %ul
          - resource.other_candidates.each do |c|
            %li
              = link_to c.name, c
              = "(#{c.skill_names} - #{number_to_currency(c.salary)})"