%h4 Навыки

- if @skills.any?
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Наименование
    %tbody.data_table
      - @skills.each do |skill|
        %tr        
          %td= skill.id
          %td= link_to skill.name, skill