%h4= @skill.name

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Вакансии
      .panel-body
        %ul
          - @vacancies.each do |v|
            %li= link_to v.name, v


  .col-md-6
    .panel.panel-default
      .panel-heading
        Кандидаты
      .panel-body
        %ul
          - @candidates.each do |c|
            %li= link_to c.name, c

