%h4= resource.new_record? ? 'Новый соискатель' : 'Редактирование соискателя'
= form_for resource, html: {role: :form} do |f|
  .row
    .col-md-5
      - if resource.errors.any?
        .alert.alert-danger(role=alert)
          %button.close{type: 'button', data: {dismiss: 'alert'}} ×
          %ul
            - resource.errors.full_messages.each do |msg|
              %li= msg  
        
      .form-group.form-group-sm
        = f.label :name, 'Имя'
        = f.text_field :name, class: 'form-control input-sm', placeholder: 'Имя соискателя (Фамилия Имя Отчество)'
      .form-group.form-group-sm
        = f.label :contacts, 'Контакты'
        = f.text_field :contacts, class: 'form-control input-sm', placeholder: 'Контакты (телефон или e-mail)'
      .row
        .form-group.form-group-sm.col-xs-5
          = f.label :salary, 'Зарплата (руб)'
          = f.number_field :salary, class: 'form-control input-sm', placeholder: 'Желаемая зарплата'
      .row
        .form-group.form-group-sm.col-xs-5
          .checkbox
            %label
              = f.check_box :is_active
              Резюме активно           
      .row
        .col-xs-12
          = link_to 'Отмена', candidates_path, class: 'button btn btn-default btn-sm', role: 'button'
          = f.submit 'Сохранить', class: 'btn btn-primary btn-sm'


    .col-md-3
      .panel.panel-default
        .panel-heading
          Навыки
        .panel-body#skills_manager
          .input-group.input-xs
            = text_field_tag :skill_name, '', class: 'form-control input-sm', autocomplete: 'off'
            %span.input-group-btn
              %button.btn.btn-success.btn-sm.btn-add-skill-candidate
                %span.glyphicon.glyphicon-plus
          = hidden_field_tag :selected_skill
          
          %hr
          %table.table.table-condensed
            = hidden_field_tag 'candidate[skill_ids][]', ''
            - resource.skills.each do |skill|
              %tr
                %td
                  = hidden_field_tag 'candidate[skill_ids][]', skill.id
                  = skill.name
                %td
                  = link_to '#', class: 'btn btn-xs btn-danger btn-remove-skill' do
                    %span.glyphicon.glyphicon-remove   
            - if resource.new_skills && resource.new_skills.any?  
              - resource.new_skills.each do |skill|
                %tr
                  %td
                    = hidden_field_tag 'candidate[new_skills][]', skill
                    = skill
                  %td
                    = link_to '#', class: 'btn btn-xs btn-danger btn-remove-skill' do
                      %span.glyphicon.glyphicon-remove    


:javascript
  $('#skill_name').typeahead({
    'ajax': '/skills/search',
    onSelect: function(item) {
      $('#skills_manager input#selected_skill').val(item.value)
    }
  });      