%h4 Кандидаты

.navbar.navbar-default
  .container-fluid
    = link_to 'Добавить', new_candidate_path, class: 'btn btn-xs btn-primary navbar-btn'

- if collection.any?
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Наименование
        %th Активно
        %th
    %tbody.data_table
      - collection.each do |candidate|
        %tr        
          %td= candidate.id
          %td= link_to candidate.name, candidate
          %td= candidate.is_active ? 'Да' : 'Нет'
          %td
            = link_to edit_candidate_path(candidate), class: 'btn btn-xs btn-success' do
              %span.glyphicon.glyphicon-pencil      
            = link_to candidate_path(candidate), class: 'btn btn-xs btn-danger', method: :delete do
              %span.glyphicon.glyphicon-remove                  