%h4= resource.name
%h6= resource.contacts
%hr
%strong Навыки:
= resource.skills.map {|skill| link_to(skill.name, skill)}.join(', ').html_safe
%br
%strong Желаемая зарплата:
= number_to_currency(resource.salary)
%br
%strong= resource.is_active ? 'Резюме активно' : 'Резюме не активно'

%hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Лучшие вакансии
      .panel-body
        %ul
          - resource.best_vacancies.each do |v|
            %li
              = link_to v.name, v
              = "(#{number_to_currency(v.wage)})"


  .col-md-6
    .panel.panel-default
      .panel-heading
        Другие вакансии
      .panel-body
        %ul
          - resource.other_vacancies.each do |c|
            %li
              = link_to c.name, c
              = "(#{c.skill_names} - #{number_to_currency(c.wage)})"