@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

$color_wild_sand_approx: #f5f5f5;
$color_gallery_approx: #eee;
$white: #fff;
$color_boston_blue_approx: #428bca;


body {
  padding-top: 50px;
}

@media(min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $color_wild_sand_approx;
    border-right: 1px solid $color_gallery_approx;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid $color_gallery_approx;
}
.navbar-fixed-top {
  border: 0;
}


.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  > {
    li > a {
      padding-right: 20px;
      padding-left: 20px;
    }
    .active > a {
      color: $white;
      background-color: $color_boston_blue_approx;
      &:hover {
        color: $white;
        background-color: $color_boston_blue_approx;
      }
      &:focus {
        color: $white;
        background-color: $color_boston_blue_approx;
      }
    }
  }
}

.main {
  padding: 20px;
  .page-header {
    margin-top: 0;
  }
}