!!!5
%html
  %head
    %title Кадровое агенство
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to 'Кадровое агенство', root_path, class: 'navbar-brand'

    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li{class: ('active' if controller_name == 'vacancies')}
              = link_to 'Вакансии', vacancies_path
            %li{class: ('active' if controller_name == 'candidates')}
              = link_to 'Кандидаты', candidates_path
            %li{class: ('active' if controller_name == 'skills')}
              = link_to 'Навыки', skills_path

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          = yield

